@model OrderWala.Domain.tblCustomerDTO
@{
    ViewBag.Title = "CustomerSave";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
   
}


<div id="page-title">
    <h1 class="page-header text-overflow">General Elements</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Customer Master</h3>
    </div>
   
    
    <!--Input Size-->
    <!--===================================================-->
  @using (Html.BeginForm("CustomerSave", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
    {
      
      @Html.HiddenFor(Model => Model.CustomerId)
      
        <div class="panel-body">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="text-danger">
                    @Html.ValidationSummary()
                </div>
            </div>
          

            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">First Name</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.FirstName, new { @class ="form-control input-sm", placeholder ="" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Last Name</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.LastName, new { @class ="form-control input-sm", placeholder ="" })
                    @*<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Address</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.Address, new { @class ="form-control input-sm", placeholder ="" })
                    @*<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Area</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.AreaId, new { @class ="form-control input-sm", placeholder ="" })
                    @*<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Email Address</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class ="form-control input-sm", placeholder ="" })
                    @*<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">*@
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Mobile Number</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.MobileNo, new { @class ="form-control input-sm", placeholder ="" })
                    @*<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">*@
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Latitude</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.Latitude, new { @class ="form-control input-sm", placeholder ="" })
                    @*<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">*@
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Longitude</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.Longitude, new { @class ="form-control input-sm", placeholder ="" })
                    @*<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">*@
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Total Order Amount</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.TotalOrderAmount, new { @class ="form-control input-sm", placeholder ="" })
                    @*<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">*@
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Received Amount</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.RecievedAmount, new { @class ="form-control input-sm", placeholder ="" })
                    @*<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">*@
                </div>
            </div>
            
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <button class="btn btn-success btn-labeled fa fa-save fa-lg" type="submit">Save</button>
                    <button class="btn btn-danger btn-labeled fa fa-repeat fa-lg" type="reset">Cancel</button>
                </div>
            </div>
        </div>
    }
    <!--===================================================-->
    <!--End Input Size-->


</div>
