@{
    ViewBag.Title = "CustOrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Mirrored from codepeoples.com/tanimdesign.net/thsop-v-1.3/white/order-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Mar 2015 08:34:06 GMT -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
     <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/ico/apple-touch-icon-144-precomposed.png")">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
     <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/ico/apple-touch-icon-114-precomposed.png")">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
     <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/ico/apple-touch-icon-72-precomposed.png")">
<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.html">
      <link rel="apple-touch-icon-precomposed"  href="@Url.Content("~/Content/ico/apple-touch-icon-57-precomposed.png")">



<!-- Bootstrap core CSS -->
<link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
     <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
<!-- add theme styles for this template -->
<link id="pagestyle" rel="stylesheet" type="text/css" href="assets/css/skin-1.css">
     <link href="@Url.Content("~/Content/css/skin-1.css")" rel="stylesheet" id="pagestyle" type="text/css"/>

<!-- Custom styles for this template -->
<link href="assets/css/style.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" />

<!-- css3 animation effect for this template -->
<link href="assets/css/animate.min.css" rel="stylesheet">
     <link href="@Url.Content("~/Content/css/animate.min.css")" rel="stylesheet" />


<!-- styles needed by checkRadio -->
<link href="assets/css/ion.checkRadio.css" rel="stylesheet">
     <link href="@Url.Content("~/Content/css/ion.checkRadio.css")" rel="stylesheet" />
<link href="assets/css/ion.checkRadio.cloudy.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/ion.checkRadio.cloudy.css")" rel="stylesheet" />

<!-- styles needed by footable  -->
<link href="assets/css/footable-0.1.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/footable-0.1.css")" rel="stylesheet" />
<link href="assets/css/footable.sortable-0.1.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/footable.sortable-0.1.css")" rel="stylesheet" />
<!-- styles needed by mCustomScrollbar -->
<link href="assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
     <link href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.css")" rel="stylesheet" />

<!-- Just for debugging purposes. -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->  

<!-- include pace script for automatic web page progress bar  -->


 <script>
     paceOptions = {
         elements: true
     };
</script>


 <script src="@Url.Content("~/Content/js/pace.min.js")"></script>
       <script type="text/javascript">
           function swapStyleSheet(sheet) {
               document.getElementById('pagestyle').setAttribute('href', sheet);
           }
</script>  
  <style>

	.themeControll {
		background:#2d3e50;
		height: auto;
		width:100px;
		position:fixed;
		left:0;
		padding:20px;
		top:20%;
		z-index:999999;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
		-ms-filter: none;
		filter: none;
		-webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
		-moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
		-o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
		-ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
		transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
	}
	
	.themeControll.active {
		display: block;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		-ms-transform: translateX(-1020px);
		transform: translateX(-100px);
		-webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
		-moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
		-o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
		-ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
		transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
	
	}
	
	.themeControll a {
    border-radius: 3px;
    clear: both;
    display: block;
    height: 25px;
    margin-bottom: 4px;
    width: 50px;
	}
	
	.tbtn {
    background:#2D3E50;
    color: #FFFFFF !important;
    font-size: 30px;
    height: auto;
    padding: 10px;
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
	cursor:pointer;
   }
   
  
.footable > thead > tr > th > span.footable-sort-indicator {
  width: 16px;
  height: 16px;
  display: block;
  float:right;
  background: url('img/sorting_sprite.png') no-repeat top left;
}

.footable > thead > tr > th.footable-sortable:hover {
  cursor:pointer;
}

.footable > thead > tr > th.footable-sortable > span {
  
}

.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator {
  background-position: 0 -16px;
}

.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator {
  background-position: 0 -32px;
}


	
	</style>
   


    

<div class="container main-container headerOffset">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li> <a href="@Url.Action("Index","Home")">Home</a> </li>
        <li> <a href="@Url.Action("MyAccount","Customer")">My Account</a> </li>
        <li class="active"> Order List </li>
      </ul>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
      <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Order List </span></h1>
      <div class="row userInfo">
        <div class="col-lg-12">
          <h2 class="block-title-2"> Your Order List  </h2>
        </div>
        
        <div class="col-xs-12 col-sm-12">
          <table class="footable">
            <thead>
              <tr>
                <th data-class="expand" data-sort-initial="true"> <span title="table sorted by this column on load">Order ID</span> </th>
                <th data-hide="phone,tablet" data-sort-ignore="true">No. of items</th>
                <th data-hide="phone,tablet" data-sort-ignore="true">Invoice</th>
                <th data-hide="phone,tablet"><strong>Payment Method</strong></th>
                <th data-hide="default"> Price </th>
                <th data-hide="default" data-type="numeric"> Date </th>
                <th data-hide="phone" data-type="numeric"> Status </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#028DE</td>
                <td>5 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>Bank Wire</td>
                <td>$403 </td>
                <td data-value="78025368997">22 Jun 2014</td>
                <td data-value="3"><span class="label label-success">Done</span></td>
              </tr>
              <tr>
                <td>#045YU</td>
                <td>2 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>Bank Wire</td>
                <td>$105 </td>
                <td data-value="-100297281571">28 Oct 2014</td>
                <td data-value="1"><span class="label label-primary">Pending</span></td>
              </tr>
              <tr>
                <td>#08UJL</td>
                <td>6 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td><a target="_blank" >PayPal</a></td>
                <td><a target="_blank" >$550 </a></td>
                <td data-value="370961043292">3 Oct 2014</td>
                <td data-value="2"><span class="label label-success">Done</span></td>
              </tr>
              <tr>
                <td>#09ydo</td>
                <td>1 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>Paypal</td>
                <td>$34 </td>
                <td data-value="-22133780420">19 Apr 2014</td>
                <td data-value="1"><span class="label label-primary">Pending</span></td>
              </tr>
              <tr>
                <td>#EC089</td>
                <td>8 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>MasterCard</td>
                <td>$1108</td>
                <td data-value="250833505574">13 Dec 2014</td>
                <td data-value="3"><span class="label label-danger">Cancel</span></td>
              </tr>
              <tr>
                <td>#OH746</td>
                <td>4 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>Bank Wire</td>
                <td>$669 </td>
                <td data-value="694116650726">30 Dec 2014</td>
                <td data-value="3"><span class="label label-danger">Cancel</span></td>
              </tr>
              <tr>
                <td>#04628J</td>
                <td>11 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>Bank Wire</td>
                <td>$400 </td>
                <td data-value="561440464855">17 Oct 2014</td>
                <td data-value="2"><span class="label label-default">Disable</span></td>
              </tr>
              <tr>
                <td>#046738</td>
                <td>2 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td><a target="_blank" >PayPal</a></td>
                <td>$403 </td>
                <td data-value="437400551390">11 Nov 2014</td>
                <td data-value="3"><span class="label label-danger">Cancel</span></td>
              </tr>
              <tr>
                <td>#08CRIS</td>
                <td>3 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>Paypal</td>
                <td>$105 </td>
                <td data-value="-257733999319">1 Nov 2014</td>
                <td data-value="3"><span class="label label-danger">Cancel</span></td>
              </tr>
              <tr>
                <td>#1939HI</td>
                <td>5 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>MasterCard</td>
                <td><a target="_blank" >$550 </a></td>
                <td data-value="362134712000">23 Jun 2014</td>
                <td data-value="1"><a target="_blank" ><span class="label label-primary">Pending</span></a></td>
              </tr>
              <tr>
                <td>#518JOK</td>
                <td>1 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>Bank Wire</td>
                <td>$34 </td>
                <td data-value="751149063430">20 Oct 1993</td>
                <td data-value="2"><span class="label label-default">Disable</span></td>
              </tr>
              <tr>
                <td>Isidra</td>
                <td>12 <small>item(s)</small></td>
                <td><a target="_blank" >-</a></td>
                <td>Bank Wire</td>
                <td>$1108</td>
                <td data-value="550552096836">13 Jun 1987</td>
                <td data-value="3"><span class="label label-danger">Cancel</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="col-lg-12 clearfix">
          <ul class="pager">
            <li class="previous pull-right"><a href="@Url.Action("Index","Home")"> <i class="fa fa-home"></i> Go to Shopping </a></li>
            <li class="next pull-left"><a href="@Url.Action("MyAccount","Customer")"> &larr; Back to My Account</a></li>
          </ul>
        </div>
      </div>
      <!--/row end--> 
      
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
  </div>
  <!--/row-->
  
  <div style="clear:both"></div>
</div>
<!-- /main-container -->















<!-- Placed at the end of the document so the pages load faster --> 
<script type="text/javascript" src="assets/js/jquery/1.8.3/jquery.js"></script> 
 <script src="@Url.Content("~/Content/js/jquery/1.8.3/jquery.js")" type="text/javascript"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script> 
 <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>


<!-- include footable plugin --> 
<script src="assets/js/footable.js" type="text/javascript"></script> 
 <script src="@Url.Content("~/Content/js/footable.js")" type="text/javascript"></script>
<script src="assets/js/footable.sortable.js" type="text/javascript"></script> 
<script src="@Url.Content("~/Content/js/footable.sortable.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('.footable').footable();
    });
  </script> 


<!-- include  parallax plugin --> 
<script type="text/javascript"  src="assets/js/jquery.parallax-1.1.js"></script> 
 <script src="@Url.Content("~/Content/js/jquery.parallax-1.1.js")" type="text/javascript"></script>
<!-- optionally include helper plugins --> 
<script type="text/javascript"  src="assets/js/helper-plugins/jquery.mousewheel.min.js"></script> 
 <script src="@Url.Content("~/Content/js/helper-plugins/jquery.mousewheel.min.js")" type="text/javascript"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  --> 

<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"></script> 
 <script src="@Url.Content("~/Content/js/jquery.mCustomScrollbar.js")" type="text/javascript"></script>

<!-- include checkRadio plugin //Custom check & Radio  --> 
<script type="text/javascript" src="assets/js/ion-checkRadio/ion.checkRadio.min.js"></script> 
 <script src="@Url.Content("~/Content/js/ion-checkRadio/ion.checkRadio.min.js")" type="text/javascript"></script>

<!-- include grid.js // for equal Div height  --> 
<script src="assets/js/grids.js"></script> 
<script src="@Url.Content("~/Content/js/grids.js")" type="text/javascript"></script>
<!-- include carousel slider plugin  --> 
<script src="assets/js/owl.carousel.min.js"></script> 
 <script src="@Url.Content("~/Content/js/owl.carousel.min.js")" type="text/javascript"></script>

<!-- jQuery minimalect // custom select   --> 
<script src="assets/js/jquery.minimalect.min.js"> </script> 
 <script src="@Url.Content("~/Content/js/jquery.minimalect.min.js")" type="text/javascript"></script>

<!-- include touchspin.js // touch friendly input spinner component   --> 
<script src="assets/js/bootstrap.touchspin.js"></script> 
 <script src="@Url.Content("~/Content/js/bootstrap.touchspin.js")" type="text/javascript"></script>
<!-- include custom script for site  --> 

<script src="assets/js/script.js"></script>
<script src="@Url.Content("~/Content/js/script.js")" type="text/javascript"></script>



<!-- /main-container --><div class="gap"> </div>