@model adminsite.Models.TblProductMaster
@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("ProductEdit", "Product", FormMethod.Post, new { id = "frmApproveFirm", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    
    <div id="page-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Product </h3>
                    </div>



                    <div class="panel-body">
                        @*     @if(!Html.ValidationSummary().ToString().Contains("display:none"))
                        {
                            <div class="row">
                            <div  class="col-sm-3"></div>
                            <div class="col-sm-6 alert alert-danger">
                                @Html.ValidationSummary()
                            </div>
                            </div>
                        }*@

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.HiddenFor(Model => Model.ProductID, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Category Name</label>
                            <div class="col-md-6 col-sm-6">
                                @* @Html.DropDownListFor(Model => Model.CategoryID, new SelectList(ViewBag.Cat, "CategoryID", "CategoryName"), "---Select Category ---", new { @class = "form-control" })*@
                                <select id="CategoryID" name="CategoryID" class="form-control" onchange="loadsubcat()  ">

                                    @foreach (var items in ViewBag.category)
                                    {
                                        if (items.CategoryID == Model.CategoryID)
                                        {
                                        <option selected value="@items.CategoryID" >@items.CategoryName</option>
                                        }
                                        else
                                        {
                                        <option value="@items.CategoryID" >@items.CategoryName</option>
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(Model => Model.CategoryID)
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">Subcategory Name</label>
                            <div class="col-md-6 col-sm-6">
                                @* @Html.DropDownListFor(Model => Model.SubCategoryID, new SelectList(ViewBag.SCat, "SubCategoryID", "SubCategoryName"), "---Select SubCategory ---", new { @class = "form-control" })*@
                                <select id="SubCategoryID" name="SubCategoryID" class="form-control">

                                    @foreach (var item in ViewBag.subcategory)
                                    {
                                        if (item.SubCategoryID == Model.SubCategoryID)
                                        { 
                                        <option selected value="@item.SubCategoryID">@item.SubCategoryName</option>
                                        }
                                        else
                                        {
                                        <option value="@item.SubCategoryID">@item.SubCategoryName</option>
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(Model => Model.SubCategoryID)
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Name</label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(Model => Model.ProductName, new { @class = "form-control", @maxlength = "20", @minlength = "3", autocomplete = "off" })
                                @Html.ValidationMessageFor(Model => Model.ProductName)
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Image</label>
                            <div class="col-md-6 col-sm-6">
                                <input type="file" name="file" id="file" class="form-control">
                                @Html.HiddenFor(Model => Model.ProductImage)
                                @Html.ValidationMessageFor(Model => Model.ProductImage)
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Price</label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(Model => Model.ProductPrice, new { @class = "form-control", @maxlength = "5", @minlength = "1", autocomplete = "off" })
                                @Html.ValidationMessageFor(Model => Model.ProductPrice)
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Discount(%)</label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(Model => Model.ProductDiscount, new { @class = "form-control", @maxlength = "3", autocomplete = "off" })
                                @Html.ValidationMessageFor(Model => Model.ProductDiscount)
                            </div>
                        </div>






                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <button class="btn btn-info btn-labeled fa fa-pencil-square-o" type="submit">Save</button>
                                @Html.ActionLink("Back to List", "ProductIndex", "Product", null, new { @class = "btn btn-warning btn-labeled fa fa-undo" })

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
          
   
}




<script type="text/javascript">
    $(document).ready(function () {

    });
    function loadsubcat() {
        // alert("call");
        var Id1 = $("#CategoryID option:selected").val();
        var callUrl = " http://localhost:2870/Product/subType";
        var dataToSend = { Id: Id1 }
        $.ajax({
            url: callUrl,
            type: "GET",
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (data) {
                $('#SubCategoryID').html('');
                $.each(data, function (id, option) {
                    $('#SubCategoryID ').append($('<option:selected ></option>').val(option.id).html(option.name));
                });
            },
            error: function (error) {
                alert(JSON.stringify(error));
            }
        });
    }


</script>

<div class="row">
    <div class="pad-ver">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            @if (ViewBag.actionmsg == "1")
            {
                <label class="control-label  btn btn-success btn-labeled  fa fa-thumbs-o-up">Well done! Your data is Successfully Inserted</label>
            }
            @if (ViewBag.actionmsg == "0")
            { 
                <label class="control-label btn btn-danger btn-labeled fa fa-thumbs-o-down"> "@ViewBag.prodNAME "  Name is already Exist.  .............</label>
            }
        </div>
    </div>
</div>
