@model OrderWala.Domain.tblAreaDTO

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="page-title">
    <h1 class="page-header text-overflow">Area Master</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>
   
    
    <!--Input Size-->
    <!--===================================================-->
  @using(Html.BeginForm("Save","Area",FormMethod.Post, new { @class="form-horizontal" }))
    {
      
      @Html.HiddenFor(Model => Model.AreaId)
      
        <div class="panel-body">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="text-danger">
                    @Html.ValidationSummary()
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Select State</label>
                <div class="col-sm-5">

                     <select id="StateId" name="StateId" onchange="loadstate()" style="width: 100%" class="form-control">
                            <option value="0">----------Select State--------</option>
                            @foreach (var items in ViewBag.state)
                            { 
                                <option value="@items.StateId">@items.StateName</option>
                            }
                 </select>


                  @*  @Html.DropDownListFor(Model => Model.StateId, new SelectList(ViewBag.state, "StateId", "StateName"), "--select State--", new { @class="btn dropdown-toggle btn-default btn-md"})*@
                  
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Select City</label>
                <div class="col-sm-5">

                    <select id="CityId" name="CityId" style="width: 100%" class="form-control">
                            <option value="0">---------Select City--------</option>
                    </select>

          
                 
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Area Name</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.AreaName, new { @class ="form-control input-sm", placeholder ="" })
                 
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Description</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.Description, new { @class ="form-control input-sm", placeholder ="" })
                 
                </div>
            </div>
            
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                   
                    
                     <button class="btn btn-success btn-labeled fa fa-save fa-lg" type="submit">Save</button>

                    
                   <a href="@Url.Action("ListAllArea","Area")"><button class="btn btn-success  btn-labeled fa fa-repeat fa-lg" type="button">Cancel</button></a>
                </div>
            </div>
        </div>
    }
    <!--===================================================-->
    <!--End Input Size-->


</div>
<script type="text/javascript">
    $(document).ready(function () {

    });
    function loadstate() {
        var id = $("#StateId").val();
        
        var callUrl = "http://localhost/OrderWala.Web/Area/getcity";
        var dataToSend = { Id: id }
        $.ajax({
            url: callUrl,
            type: "GET",
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (data) {
                $('#CityId').html('');
                $('#CityId').append($('<option></option>').val(0).html("---------Select City--------"));
           
                $.each(data, function (id, option) {
                    $('#CityId').append($('<option></option>').val(option.CityId).html(option.CityName));
                });
            },
            error: function (error) {
                alert(JSON.stringify(error));
            }
        });
    }
 </script>